
.vue-ads-bg-gray-100 {
  background-color: #f7fafc
}

.vue-ads-bg-gray-200 {
  background-color: #edf2f7
}

.vue-ads-bg-teal-500 {
  background-color: #38b2ac
}

.hover\:vue-ads-bg-gray-100:hover {
  background-color: #f7fafc
}

.vue-ads-cursor-default {
  cursor: default
}

.vue-ads-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vue-ads-justify-end {
  justify-content: flex-end;
  flex-direction: row !important;
}

.vue-ads-flex-grow {
  flex-grow: 1
}

.vue-ads-leading-normal {
  line-height: 1.5
}

.vue-ads-leading-loose {
  line-height: 2
}

.vue-ads-m-2 {
  margin: .5rem
}

.vue-ads-ml-1 {
  margin-left: .25rem
}

.focus\:vue-ads-outline-none:focus,
.vue-ads-outline-none {
  outline: 0
}

.vue-ads-px-0 {
  padding-left: 0;
  padding-right: 0
}

.vue-ads-pr-2 {
  padding-right: .5rem
}

.vue-ads-text-white {
  color: #fff
}

.vue-ads-text-xs {
  font-size: .75rem
}

.vue-ads-w-6 {
  width: 1.5rem
}
