@import '../_variables.scss';

.social-icons-container {
  right: 1rem;
  a:visited {
    color: $headings-color;
  }
  a:hover {
    color: #007aff;
  }
}

.us-ico {
  display: inline-block;
  margin-bottom: -5px;
}
